<p>Note: process may take up to 9 seconds or so</p>
<form id='form'>
    <input id='input' autofocustype='text' placeholder='app search'/>
</form>

<hr/>

<h2>Apple</h2>

<table id='results'>
    <thead>
        <th>Stars</th>
        <th>Current Version Stars</th>
        <th>Title</th>
        <th>Creator</th>
        <th>Rating Count</th>
        <th>Current Count</th>
        <th>Price</th>
    </thead> 
</table>

<hr/>
<hr/>

<h2>Android</h2>

<table id='android-results'>
    <thead>
        <th>Stars</th>
        <th>Title</th>
        <th>Creator</th>
        <th>Rating Count</th>
        <th>Price</th>
        <th>Downloads</th>
    </thead> 
</table>

<hr/>

<h2>Apple Reviews</h2>

<ul id='apple-reviews'>
</ul>


<hr/>