<form id='form'>
    <input id='input' type='text' placeholder='app search'/>
</form>

<table id='results'>
    <thead>
        <th>Stars</th>
        <th>Title</th>
        <th>Creator</th>
        <th>Rating Count</th>
        <th>Price</th>
    </thead> 
</table>