body {
    font-family: sans-serif;
    background-color: #888;
}

table {
    border: 1px solid #aaa;
    margin-top: 2em;
}
td {
    border: 1px solid #aaa;
    padding: 3px;
}

th {
    border: 1px solid #aaa;
}

ul {
    list-style-type: none;
}